@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:wght@300;400;500;600&display=swap');

$red: #ff0000;
$white: #ffffff;

$lightBlack0: #141414;
$lightBlack1: #202020;
$lightBlack2:#383838;

$blue1: #0080ff;

$gray1: #707070;

$jump1: 670px;
$jump2: 450px;